body {
    background-image: url(../img/tutorialFondo.jpg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }

 h2{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
  color: rgb(0, 0, 0);
   margin-top: 620px;
  margin-left: 1010px;
 
 }